assets/jade/index.pug
doctype html
html
  head
    meta(charset="utf-8")
    title Amazing Wheel Of Fortune
    link(rel="stylesheet" href="assets/css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/scripts.js")
  
  body
    .container
      h1 Wheel of Fortune!
      .gameTable.js-board
        .wordContainer.js-word
          .letter.js-letter.folded a
      
      .gameStatus.js-status
      
      .pickBoard.js-pick
        .inputFields
          span.textLabel Pick Letter: 
          br
          input.js-input(type="text")
          br
          span.textLabel Type Password: 
          br
          input.js-pass(type="text")
          
        
        .usedUp
          h4 Already used letters:
        
        .gameLog.js-log
          h4 Game log:
          

index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amazing Wheel Of Fortune</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Wheel of Fortune!</h1>
      <div class="gameTable js-board">
        <div class="wordContainer js-word">
          <div class="letter js-letter folded">a</div>
        </div>
      </div>
      <div class="gameStatus js-status"></div>
      <div class="pickBoard js-pick">
        <div class="inputFields"><span class="textLabel">Pick Letter: </span><br>
          <input class="js-input" type="text"><br><span class="textLabel">Type Password: </span><br>
          <input class="js-pass" type="text">
        </div>
        <div class="usedUp">
          <h4>Already used letters:</h4>
        </div>
        <div class="gameLog js-log">
          <h4>Game log:</h4>
        </div>
      </div>
    </div>
  </body>
</html>
